@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap&family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");

* {
  border: 0;
  padding: 0;
  font-family: "Inter";
  font-size: 1dvw;
  color: #2a2a2a;
}

/* Body  */

.main-body {
  width: 100dvw;
  height: fit-content;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  overflow: hidden;
}

.outer {
  width: 100dvw;
  flex-direction: column;
  padding: 0.5dvw 1dvw;
}

/* Navbar Starts */

.logo {
  width: 10dvw;
  height: 3dvw;
  margin: 1dvw 0;
  text-align: center;
  font-weight: 700;
  font-size: 2dvw;
}

.nav-links {
  width: 35dvw;
  display: flex;
  gap: 1.5dvw;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.nav-links li {
  transition: all 0.3s ease-out;
}

.nav-links li:hover {
  scale: 1.1;
}

/* Navbar Ends */

/* --------------------------------------------------------------------------------- */

/* Hero Starts */

.hero-main {
  width: 100%;
  height: 100vh;
  border-radius: 1dvw;
  display: flex;
  align-items: center;
  gap: 2dvw;
  flex-direction: column;
  background: url("/waterHero.jpg") center no-repeat;
  background-size: cover;
  transition: all 0.4s ease-out;
}

.hero-main:hover {
  scale: 1.003;
}

.hero-content {
  width: 100dvw;
  height: fit-content;
  display: flex;
  padding: 0 3dvw 3dvw 3dvw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-content .text-column {
  width: 100%;
  min-height: 20vh;
  border-radius: 1.5dvw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 6dvw 2dvw;
}

.text-column .headings {
  margin: 2dvw 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 3dvw;
  color: #fff;
}

.text-column button {
  width: 10dvw;
  height: 2.3dvw;
  font-size: 1.2dvw;
  border-radius: 0.7dvw;
  background-color: #22c55e;
  color: #fff;
  margin: 1dvw 0 0 0;
  transition: all 0.4s ease-out;
}

.text-column button:hover {
  border: 2px solid #22c55e;
  border-radius: 0.3dvw;
  background-color: transparent;
  color: #22c55e;
  font-weight: 600;
  scale: 1.05;
}

.text-column button:active {
  scale: 1;
}

.text-column .info {
  width: 70%;
  height: fit-content;
  padding: 1dvw;
  background-color: #858585ac;
  border-radius: 0.7dvw;
  font-size: 1.2dvw;
}

/* Hero Ends */

/* Testimony */

.reviews-main {
  max-width: 100%;
  min-height: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2vw 9.6vw;
  gap: 2vw;
}

.review-cards {
  width: 100%;
  border-radius: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1vw;
  overflow-x: auto;
}

.card{
  border: 2px solid #2a2a2a;
  width: 20vw;
  height: 15vw;
  padding: 1vw;
  background-color: #ffd986;
  gap: 1vw;
}

/* Problem Section */

::-webkit-scrollbar {
  display: none;
}

/* Responsive ---------------------------------------------------------*/

/* Mobile */

@media screen and (max-width: 768px) {
  .nav-main {
    background-color: transparent;
    margin: 2dvw;
    height: 5vh;
    margin: 5dvw 0;
  }

  .logo {
    font-size: 7dvw;
    width: 100dvw;
    height: 10dvw;
    background-color: lightgreen;
    margin: 0 0 5dvw 0;
    display: none;
  }

  .nav-links {
    display: none;
  }

  .menu-icon {
    width: 15dvw;
    height: 15dvw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-menu {
    position: fixed;
    top: 5vh;
    width: 100dvw;
    height: 95vh;
    background-color: #fff;
  }

  .hero-main {
    width: 100%;
    height: fit-content;
    overflow: hidden;
  }

  .hero-content {
    width: 100%;
    height: fit-content;
    flex-direction: column;
  }

  .hero-main .text-column {
    width: 120%;
    height: fit-content;
    padding: 10dvw 5dvw 3dvw 5dvw;
    margin: 0;
    border-radius: 5dvw;
    display: flex;
    justify-content: center;
    gap: 5dvw;
    flex-direction: column;
    background: transparent;
  }

  .text-column .headings {
    width: 100%;
    height: fit-content;
    margin: 0 0 3dvw 0;
    /* border: 2px solid #2a2a2a; */
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5dvw;
    color: #fff;
  }

  .text-column button {
    width: 40dvw;
    height: 12dvw;
    /* margin: 2dvw 0; */
    font-size: 5dvw;
    border-radius: 2dvw;
    background-color: #22c55e;
    color: #fff;
  }

  .heroStat {
    height: 16dvw;
  }

  .heroStat .stat-title {
    font-size: 4dvw;
    font-weight: 700;
  }

  .heroStat .stat-value {
    font-size: 5dvw;
  }

  .review-cards {
    height: fit-content;
    width: 100%;
    padding: 3vw 0;
    gap: 5dvw;
    flex-direction: column;
  }

  .review-cards .card {
    max-width: 100%;
    height: 15dvw;
    font-size: 2vw;
  }

  .card{
    min-width: 100%;
    min-height: 100px;
    text-align: center;
  }
}
